# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
static/

# VSCode settings
.vscode/

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Pytest
.cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# C extensions
*.so

# Coverage reports
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Django migrations
**/migrations/*.pyc
**/migrations/*.py[cod]
**/__pycache__/

# Secrets (if you use dotenv or similar)
.env
.env.*

# Ignore IDE files
.idea/
*.sublime-project
*.sublime-workspace
